<div
    class="max-w-2xl   lg:max-w-5xl  mx-auto mt-10 p-6 bg-slate-200  dark:border-none  border-2 border-gray-300 shadow-md dark:bg-gray-800  dark:text-gray-200 dark:!shadow-none  rounded-lg ">
    <div class="flex justify-center">
        <h2 class="text-2xl font-semibold mb-4 text-center text-gray-800 dark:text-gray-200">Senarium Nedir? <div
                class="h-1 rounded-lg bg-amber-500 w-full"></div>
        </h2>
    </div>


    <div class="mb-6  text-gray-700 dark:text-gray-200">
        <p class="text-base">
            Senarium, sanat ve eğlence sektöründe faaliyet gösteren senaristlerin veya hikâye yazarlarının eserlerini
            paylaşabilecekleri, kullanıcılarla etkileşimde bulunabiliecekleri yenilikçi bir platformdur. Platform, hem
            amatör hem de profesyonel yazarların eserlerini geniş bir kitleyle buluşturmasına imkan tanırken,
            aynı zamanda yapımcıların da ihtiyaçlarına uygun senaryo ve hikâyeleri kolayca keşfetmelerini sağlar.
            <br> <br>
            Senarium, senaristlerin eserlerini sadece bir blog ya da forumda paylaşmalarının ötesinde, profesyonel bir
            ortamda tanıtmalarını sağlar. Senaristler, senaryolarını çeşitli kategorilerde düzenleyebilir, detaylı
            açıklamalarla tanıtabilir, senaryo pdf'lerini herkesle veya izin verdiği kişilerle paylaşabilir, başka
            senaryolara destekte bulunabilirler ve yorum yapabilir.
            <br> <br>
            Ayrıca bu platform, senaristlerin sadece senaryo paylaşmakla kalmayıp, aynı zamanda senaryolarından gelir
            elde
            etmelerine ve iş teklifleri almalarına olanak tanır. Yapımcılar ise Senarium sayesinde kaliteli
            senaryolara hızlı bir şekilde ulaşabilir ve aradıkları projeleri kolayca keşfedebilirler.



        <div class=" flex ">

            <h2 class="text-xl font-semibold mt-6  text-start text-gray-800 dark:text-gray-200">Popülerlik Yarışması ile
                Daha Fazla Görünürlük <div class="h-1 rounded-lg bg-amber-500 w-full"></div>
            </h2>
        </div>

        <p class="mt-4 text-base">
            Platformumuz, özellikle amatör yazarların eserlerini öne çıkarabilmesi için Popülerlik Yarışması sistemini
            sunar. Kullanıcılar, her ay yenilenen sistem ile hikâye ve senaryolara oy vererek, en çok beğendikleri
            içeriklerin
            yükselmesine katkıda bulunur. Ay sonunda en yüksek oyu alan 10 içerik En Popülerler Listesi’ne girer.

            <br> <br> Bu listeye giren senaryolar, satılabilir hale gelir ve görünürlükleri artarak daha geniş kitlelere
            ulaşır. Görünürlüğün artması, senaryoların
            yapımcılar tarafından değerlendirilme ihtimalini artırır ve böylece senaristler, senaryolarını satabilir
            veya iş teklifleri alma fırsatını yakalayabilir.
        </p>
        <div class=" flex ">

            <h2 class="text-xl font-semibold   mt-6 text-start text-gray-800 dark:text-gray-200">Zaman Damgası ile
                Fikirlerinizi Koruyun<div class="h-1 rounded-lg bg-amber-500 w-full"></div>
            </h2>
        </div>

        <p class="mt-4 text-base">
            Senarium, yazarların eserlerini güvenle paylaşabilmesi için Zaman Damgası hizmeti sunar. Bu özellik,
            yüklediğiniz içeriklerin oluşturulma ve paylaşılma tarihlerini kaydederek fikri mülkiyet haklarınızı koruma
            altına alır. Üstelik bu hizmet tamamen ücretsizdir. Böylece yazarlar, eserlerinin güvenliği konusunda endişe
            etmeden çalışmalarını paylaşabilirler.

            <br><br>Senarium, yazarlar için sadece bir paylaşım platformu değil, aynı zamanda onları destekleyen ve
            kariyerlerini geliştirmelerine yardımcı olan bir araçtır. Amatör ya da profesyonel her yazar, burada kendine
            uygun bir yer bulabilir.

        </p>
    </div>
</div>