@model EditViewModel

<section class="py-10 my-auto dark:bg-gray-900">
    <div class="lg:w-[80%] md:w-[90%] xs:w-[96%] mx-auto flex gap-4">
        <div
            class="lg:w-[88%] md:w-[80%] sm:w-[88%] xs:w-full mx-auto shadow-2xl p-4 rounded-xl h-fit self-center dark:bg-gray-800/40">
            <!--  -->
            <div class="">
                <h1
                    class="lg:text-3xl md:text-2xl sm:text-xl xs:text-xl font-serif font-extrabold mb-2 dark:text-white">
                    Profil
                </h1>
                <h2 class="text-grey text-sm mb-4 dark:text-gray-400">Profil Düzenle</h2>
                <form method="post" enctype="multipart/form-data" asp-controller="Users" asp-action="ProfileEdit">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input type="hidden" asp-for="UserId">

                    <!-- Cover Image -->
                    <div
                        class="w-full rounded-sm bg-[url('/img/profilePageBg.png')] bg-cover bg-center bg-no-repeat items-center">
                        <!-- Profile Image -->
                        @if (string.IsNullOrEmpty(Model.image))
                        {
                            <div
                                class="mx-auto  flex justify-center w-[141px] h-[141px] bg-blue-300/20 rounded-full bg-[url('/img/avatar1.jpg')] bg-cover bg-center bg-no-repeat">
                                <div class="bg-white/90 rounded-full w-6 h-6 text-center ml-28 mt-4">

                                    <input type='file' name="image" class="hidden" accept="image/*"
                                        onchange="showFileName(this, 'image-file-name')" id="upload_profile">

                                    <label for="upload_profile" class="cursor-pointer">
                                        <svg data-slot="icon" class="w-6 h-5 text-blue-700" fill="none" stroke-width="1.5"
                                            stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                            aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z">
                                            </path>
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z">
                                            </path>
                                        </svg>
                                    </label>
                                </div>

                            </div>
                            <div class="flex justify-center">
                                <span id="image-file-name" class="text-base mb-1"></span>

                            </div>

                        }
                        else
                        {
                            <div class="mx-auto flex justify-center w-[141px] h-[141px] bg-blue-300/20 rounded-full"
                                style="background-image: url('/img/@Model.image'); background-size: cover; background-position: center; background-repeat: no-repeat;">

                                <div class="bg-white/90 rounded-full w-6 h-6 text-center ml-28 mt-4">


                                    <input type='file' name="image" class="hidden" accept="image/*"
                                        onchange="showFileName(this, 'image-file-name')" id="upload_profile">


                                    <label for="upload_profile" class="cursor-pointer">
                                        <svg data-slot="icon" class="w-6 h-5 text-blue-700" fill="none" stroke-width="1.5"
                                            stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                            aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z">
                                            </path>
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z">
                                            </path>
                                        </svg>
                                    </label>
                                </div>
                            </div>
                            <div class="flex justify-center">
                                <span id="image-file-name" class="text-base mb-1"></span>

                            </div>
                        }


                    </div>

                    <div class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 mt-2 justify-center w-full">
                        <div class="w-full  mb-4 mt-6">
                            <label for="" class=" dark:text-gray-300">Kullanıcı Adı</label>
                            <input type="text" asp-for="UserName"
                                class="mt-2 p-4 w-full border-2 rounded-lg dark:text-gray-200 dark:border-gray-600 dark:bg-gray-800"
                                placeholder="">
                        </div>
                        <div class="w-full  mb-4 mt-6">
                            <label for="" class=" dark:text-gray-300">Ad Soyad</label>
                            <input type="text" asp-for="FullName"
                                class="mt-2 p-4 w-full border-2 rounded-lg dark:text-gray-200 dark:border-gray-600 dark:bg-gray-800"
                                placeholder="First Name">
                        </div>
                    </div>
                    <div class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 mt-2 justify-center w-full">
                        <div class="w-full  ">
                            <label for="" class=" dark:text-gray-300">Email</label>
                            <input type="text" asp-for="Email"
                                class="mt-2 p-4 w-full border-2 rounded-lg dark:text-gray-200 dark:border-gray-600 dark:bg-gray-800"
                                placeholder="">
                        </div>
                        <div class="w-full  ">
                            <label for="" class=" dark:text-gray-300">Linkedin</label>
                            <input type="text" asp-for="Linkedin"
                                class="mt-2 p-4 w-full border-2 rounded-lg dark:text-gray-200 dark:border-gray-600 dark:bg-gray-800"
                                placeholder="">
                        </div>
                    </div>

                    <div class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
                        <div class="w-full my-4">
                            <label for="" class=" dark:text-gray-300">Parola</label>
                            <input type="text" asp-for="Password"
                                class="mt-2 p-4 w-full border-2 rounded-lg dark:text-gray-200 dark:border-gray-600 dark:bg-gray-800"
                                placeholder="******">
                        </div>

                        <div class="w-full my-4">
                            <label for="" class=" dark:text-gray-300">Parola tekrar</label>
                            <input type="text" asp-for="ConfirmPassword"
                                class="mt-2 p-4 w-full border-2 rounded-lg dark:text-gray-200 dark:border-gray-600 dark:bg-gray-800"
                                placeholder="******">
                        </div>
                    </div>
                    <div class="w-2/4">
                        <h3 class="dark:text-gray-300 mb-2">Rol</h3>
                        <select
                            class="w-full text-grey border-2 rounded-lg p-4 pl-2 pr-2 dark:text-gray-200 dark:border-gray-600 dark:bg-gray-800"
                            name="SelectedRoles" id="SelectedRoles">
                            <option disabled value="">Rol Seçiniz</option>

                            @foreach (var role in ViewBag.Roles)
                            {
                                // Eğer kullanıcı Admin değilse, Admin rolünü atla
                                if (role == "Admin" && !User.IsInRole("Admin"))
                                {
                                    continue; // Admin rolünü atla
                                }


                                if (Model.SelectedRoles != null && Model.SelectedRoles.Contains(role))
                                {
                                    <option value="@role" selected>@role</option>
                                }
                                else
                                {
                                    <option value="@role">@role</option>
                                }
                            }
                        </select>

                    </div>
                    <div class="w-full my-4">
                        <label for="" class=" dark:text-gray-300">Hakkımda</label>
                        <textarea asp-for="AboutMe"
                            class="mt-2 p-4 w-full border-2 rounded-lg dark:text-gray-200 dark:border-gray-600 dark:bg-gray-800"
                            placeholder=""></textarea>
                    </div>
                    <button type="submit "
                        class="hover:shadow-form rounded-md bg-indigo-700 py-3 px-8 text-base font-semibold text-white  hover:bg-indigo-500 mb-3 outline-none">
                        Kaydet
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        function showFileName(input, elementId) {
            const fileName = input.files[0]?.name || "Dosya seçilmedi";
            document.getElementById(elementId).textContent = fileName;
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.3.0/tinymce.min.js"
        integrity="sha512-RUZ2d69UiTI+LdjfDCxqJh5HfjmOcouct56utQNVRjr90Ea8uHQa+gCxvxDTC9fFvIGP+t4TDDJWNTRV48tBpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
            selector: '#Description'
        });
    </script>

}